/* ==========================================================================
   Global Overrides
  ========================================================================== */
* {
  box-sizing: border-box;
  /*border: 1px solid black;*/
}

.clearfix:after {
  display: table;
  clear: both;
  content: "";
}

/* ==========================================================================
   Author's custom styles
  ========================================================================== */

/* Global
   ================================================================ */
body {
  font-family: 'Ek Mukta', sans-serif;
  font-size: 18px;
  line-height: 1.5;
  margin: 0 5%;
  padding: 0;
  width: 95%;
  max-width: 1240px;
  background: #EE6842;
}


/* Layout
   ================================================================ */
header {
  background: #EE6842;
  width: 95%;
  z-index: 100;
}

.header-wrapper {
  height: 291px;
}

.narrowBreak {
  display: none;
}

.quote {
  width: 95%;
  margin: 8rem 0 0 0;
  padding: 40px 150px 40px 70px;
  background-color: #F9FFD9;
  border-top-right-radius: 25%;
  border-bottom-left-radius: 25%;
}

.quote p {
  font-size: 1rem;
  letter-spacing: 1.25px;
}

.bandBlurb {
  width: 30%;
  font-size: .95rem;
  letter-spacing: 1.25px;
}

.widget_iframe {
  float: left;
  border: none;
  margin-top: 15px;
}



/* Contact Area 
   ================================================================ */
#contact {
  position: absolute;
  display: inline-block;
  width: 200px;
  height: 150px;
  top: 0;
  right: 5%;
}

.contactImageLink {
  opacity: 0;
  visibility: hidden;
  -o-transition: all 300ms ease;
  -moz-transition: all 300ms ease;
  -webkit-transition: all 300ms ease;
  transition: all 300ms ease;
}
.contactUsImage {
  width: 200px;
  height: 100;
  border-radius: 0;
  border: none;
}

.contactInfo {
  opacity: 0;
  visibility: hidden;
  width: 200px;
  height: 90%;
  position: absolute;
  top: 10px;
  right: 5%;
  -o-transition: all 300ms ease;
  -moz-transition: all 300ms ease;
  -webkit-transition: all 300ms ease;
  transition: all 300ms ease;
  font-size: .9rem;
  letter-spacing: 1.25px;
  background-color: #F9FFD9;
  padding: 30px 10px;
  border-radius: 10%;
}

.contactInfo p {
    margin: 0;
}

#contactInfoClose {
  position: absolute;
  top: 10px;
  left: 90%;
  text-decoration: none;
  color: black;
}

/* Photos
   ================================================================ */
.bandPhoto {
  margin: 10px 0;
  border-radius: 25px;
  border: 5px solid #F9FFD9;
}

#mainPhoto {
  width: 95%;
  margin-top: 10px;
}

#showsPhoto {
  width: 44%;
  float: left;
  margin-right: 3%
}

#aboutPhoto {
  float: right;
  width: 60%;
  margin-left: 5%;
  margin-right: 5%
}

/* Video Slider 
   ================================================================ */
#videoContainer {
  position: relative;
  float: left;
  height: 500px;
  width: 60%;
}

#listen iframe {
  position: absolute;
  top: 0;
  margin-left: auto;
  margin-right: auto;
  border-radius: 25px;
  border: 5px solid #F9FFD9;
  padding: 5px;
  background-color: #F9FFD9; 
  width: 640px;
  height: 480px;
}

.listenVideo {
  opacity: 0;
  visibility: hidden;
  -o-transition: all 300ms ease;
  -moz-transition: all 300ms ease;
  -webkit-transition: all 300ms ease;
  transition: all 300ms ease;
}

.show {
  opacity: 1;
  visibility: visible;
  -o-transition: all 300ms ease;
  -moz-transition: all 300ms ease;
  -webkit-transition: all 300ms ease;
  transition: all 300ms ease;
}

#videoSelector {
  float: left;
  width: 35%;
  margin-right: 2%;
}

.selectorBox {
border-radius: 25px;
border: 2px solid #F9FFD9;
padding-left: 10px;
margin: 5px 0;
}

.selectorBox h4 a {
  text-decoration: none;
  color: #F4FF5A;

}

.activeSelector {
  border: 5px solid #F9FFD9;
  -o-transition: all 300ms ease;
  -moz-transition: all 300ms ease;
  -webkit-transition: all 300ms ease;
  transition: all 300ms ease;
  background-color: #FF8663;
}

.activeSelector h4 {
  font-size: 2.25rem;
}

.extraNoteNarrow {
  display: none;
}

/* Headings
   ================================================================ */
h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
}

h1 {
  font-size: 5rem;
  font-weight: 800;
  display: inline;
}

h1 a {
  text-decoration: none;
  color: #F9FFD9;
}

h2 {
  font-weight: normal;
}

h3 {
  font-size: 3rem;
  padding-top: 6rem;
  text-transform: uppercase;
}

h4 {
  font-family: 'Mr Dafoe', cursive;
  font-size: 2rem;
  letter-spacing: 2.5px;
  padding-top: 10px;
  font-weight: normal;
  color: #F4FF5A;
}


/* Text Styles
   ================================================================ */
p {
  font-family: "Playfair Display";
  font-size: .95rem;
  letter-spacing: 1.25px;
  margin-right: 5%;
}

a,
a:focus {
  outline: 0;
}

p a {
  color: black;
}

.here {
  font-family: 'Mr Dafoe', cursive;
  font-weight: normal;
  font-size: 2rem;
  color: #F4FF5A;
}

.imageCredit {
  width: 95%;
  text-align: right;
  letter-spacing: 1.25px;
  margin: 0 0 40px 0;
  padding: 0;
  color: #F9FFD9;
  font-size: .9rem;
}

.imageCredit a {
  color: #F9FFD9;
}

#about .imageCredit {
  float: right;
  margin-right: 5%;
  width: 50%;
  display: inline;
}


/* Navigation
   ================================================================ */
header nav ul li {
  float: left;
  width: 20%;
  margin: 0;
  padding: 0;
}

ul {
  padding: 0;
  background: #EE6842;
}

header nav a {
  display: block;
  padding: 50px 30px 0 0;
  margin-right: 20px;
  border-bottom: 1px solid black;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 1.5rem;
  color: black;
}

header nav a:hover {
  border-bottom-width: 3px;
}

.active {
  border-bottom-width: 3px;
}

.sticky {
  position: fixed;
  height: 140px;
  top: 0;
  width: 95%;
}

.sticky ul {
  margin: 0;
}

.sticky nav a {
  padding: 0;
  font-size: 1.25rem;
}

.sticky h1 {
  font-size: 3rem;
}


/* Responsive sizing
   ================================================================ */
/* Extra small devices (phones, 320px and up) */
@media screen and (min-width: 320px) and (max-width: 698px) { 
  #contact {display: none;}
  .header-wrapper {height: 180px;}
  h1 { font-size: 2.5rem; line-height: 1;} 
  .narrowBreak {display: block;}
  .here {font-size: 1.25rem;} 
  h2 {font-size: 1.25rem;} 
  h3 {padding-top: 4rem;}
  h4 {line-height: 1;}
  header nav ul li {width: 33%;} 
  header nav a {padding-top: 0; font-size: 1rem;}
  .sticky h1 {font-size: 2rem;} 
  .sticky header nav a {padding-top: 0; font-size: 1rem;}
  .imageCredit {font-size: .8rem;}
  .quote {margin: 2rem 0 0 0; padding: 20px;}
  .quote p {font-size: .9rem;}
  #showsPhoto { width: 95%; float: none; margin-right: 0;} 
  #narrowIframe {width: 85% !important;}
  #videoSelector { float: none; width: 100%;} 
  #videoContainer {float: none; display: block; width: 95%; padding-bottom: 56.25%; padding-top: 25px; height: 0;} 
  #listen iframe {float: none; display: block; top: 0; left: 0; width: 100%; height: 100%;} 
  .selectorBox {float: left; width: 31%; margin-right: 1%; font-size: .85rem; height: 155px;} 
  .selectorBox h4 {font-size: 1.5rem;}
  .selectorBox p {font-size: .75rem; margin-top: .5rem;}
  .extraNote {display: none;} 
  .extraNoteNarrow {display: block;}
  #aboutPhoto {width: 95%; margin-right: 5%}
  #about .imageCredit {width: 100%;}
  .bandBlurb {width: 95%;}
}  

/* Smallish devices  max-width: 800 */

@media screen and (min-width: 698px) and (max-width: 800px) { 
  .header-wrapper {height: 220px;}
  h1 { font-size: 2.5rem; } 
  .here {font-size: 1.5rem} 
  h2 {font-size: 1.25rem;} 
  header nav ul li {width: 33%} 
  .sticky h1 {font-size: 2rem;} 
  .sticky #contact {display: none}
  .sticky {height: 96px;}
  .quote {margin: 2rem 0 0 0; padding: 20px 30px 20px 30px;}
  #showsPhoto { width: 95%; float: none; margin-right: 0;} 
  #narrowIframe {width: 85% !important;}
  #videoSelector { float: none; width: 100%;}
  #videoContainer {float: none; display: block;} 
  #listen iframe {float: none; display: block;} 
  .selectorBox {float: left; width: 30%; margin-right: 1%; height: 110px;} 
  .selectorBox h4 {font-size: 1.5rem;}
  .selectorBox p {font-size: .75rem;}
  .extraNote {display: none;} 
  .extraNoteNarrow {display: block;}
  .bandBlurb {width: 95%;}
}

/* Small devices (tablets, 800px and up) */
@media screen and (min-width: 800px) and (max-width: 960px) { 
  .header-wrapper {height: 240px;}
  h1 { font-size: 3rem; } 
  #videoSelector { float: none; width: 100%;} 
  #videoContainer {float: none; display: block;} 
  #listen iframe {float: none; display: block;} 
  .selectorBox {float: left; width: 30%; margin-right: 1%;} 
  .extraNote {display: none} 
  .extraNoteNarrow {display: block;}
  .bandBlurb {width: 95%;}
  }

/* Medium devices (desktops, 992px and up) */
@media screen and (min-width: 960px) and (max-width: 1110px) {  
  .header-wrapper {height: 270px;}
  h1 { font-size: 4rem;} 
  #videoSelector { width: 30%;} 
  #listen iframe {width: 560px; height: 315px;}
}
